{% extends 'aws/base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to UploadnTrack</h1>
        <p class="lead">Pen and paper stocked products location tracking made easier.</p>
    </div>
</header>
   <!-- Services section-->
   <section class="bg-light" id="services">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Services we offer</h2>
                <p class="lead">Scanning barcodes, linked to an inventory management software system, is the most efficient way to manage inventory and track the location of stocked products. To most businesses it is expensive. The alternatives: pen and paper tracking and computer data entry typing. Which are both highly prone to errors and take time.<br><br>
                    We offer an alternative, a middle ground between the high accuracy and real time of scanning barcodes, and pen and paper and keyboard data entry: a semi-automated system designed to allow businesses to track the locations of their stocked products.
                <br><br>Our system is simple to use. You start out by uploading a list (in your dedicated account in our platform) of your products and their current location, or where you think they are currently located within your facility. And then, using a blank sheet, as you find products in different locations than where you thought they were at, simply write those products down and their actual locations. When you move products from one location to another location simply write it down to account for their new locations. No data entry via keyboard typing.
                <br><br>Then upload these new sheets onto our platform. Our backend algorithm will analyze these uploads and instantly will compare, update and generate a consolidated version that reflects your stocked product locations. The result can be consulted by anyone in your organization that needs to, or printed out and distributed to employees that need to find the location of any particular item.</p>
            </div>
        </div>
    </div>
</section>
<!--Start of About section-->
{% endblock %}