{% extends 'aws/base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to Cloud Pathway!</h1>
        <p class="lead">Helping solve problems at companies one company at the time.</p>
    </div>
</header>
   <!-- Services section-->
   <section class="bg-light" id="services">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Services we offer</h2>
                <p class="lead">Tracking movements and changes in locations of products within a warehouse is typically done using handheld barcode scanners connected to a central inventory management software system. As a business carrying physical goods, if you are not using a barcode scanning system you are left with the alternative of using pen and paper and computer data entry typing for tracking movements and of goods in your facility. Which are errors prone. <br><br>
                    As a business you need to account for every movement of your products; when they are moved from one location to another, to being put away when they come in and relocated due to their typically assigned location no longer being available. Finding products when you need to is crucial for running your business efficiently. But for most companies, handheld barcode scanning connected to an inventory management software system is expensive.
                <br><br>We offer an alternative: A semi-automated location tracking system. Our system involves tabular formatted sheets of paper used for taking notes as products are moved from one location to another. The sheets are then uploaded to your account in our online platform. Our platform analyzes those uploads and instantly generate a consolidated output that is an updated version of all changes in product movements that were made within your facility. Thus reflecting their new loction. The result can be consulted by anyone in your organization that needs to, or printed out and distributed to employees that need to find the location of any particular item. No more wasting time looking around to find products.</p>
            </div>
        </div>
    </div>
</section>
<!--Start of About section-->
{% endblock %}